<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <img class="logo" src="assets/images/asistencia.png" alt="" srcset="">
    </button>
    <span>ALL LINKED</span>
    <span class="example-spacer"></span>
    <a routerLink=""><button mat-raised-button color="warn">Deconnexion</button></a>
</mat-toolbar>