<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - Finance Mobile Application-UX/UI Design Screen One</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet'
        href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    <!-- <link rel="stylesheet" href="./style.css"> -->

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="screen-1">
        <img class="logo" src="assets/images/asistencia.png" alt="" srcset="">
        <form action="" [formGroup]="loginForm">
            <div class="email">
                <div class="sec-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="login" matInput placeholder="abcd@gmail.com">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="password">
                <div class="sec-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Mot de passe</mat-label>
                        <input type="password" formControlName="password" matInput placeholder="****">
                    </mat-form-field>
                </div>
            </div>
            <button (click)="login()" class="login">Connexion </button>
        </form>

        <div class="footer"><span>Mot de passe oublié ?</span></div>
    </div>
    <!-- partial -->

</body>

</html>